#upload-forms {
    display: none;
}

.upload {
    width: 100%;
}

.upload .drop {
    border: 1px dotted #cccccc;
    text-align: center;
    padding: 37px 10px;
    font-style: italic;
}

.upload .drop a {
    border-bottom: 1px dotted #0000ff;
    color: #0000ff;
    cursor: pointer;
}

.upload .drop a:hover {
    border-bottom: none;
}

.upload .drop input {
    display: none;
}

.upload ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.upload ul li {
    border-bottom: 1px dotted #cccccc;
    padding: 15px 0;
}

.upload ul li input {
    position: relative !important;
    float: left;
    font: bold 11px Arial !important;
    margin-top: 17px !important;
}

.upload ul li p {
    margin: 2px 0 0 10px;
    float: left;
    width: 80%;
}

.upload ul li .size {
    font-weight: normal;
    font-style: normal;
    color: #7f7f7f;
    font-size: 14px;
    padding: 0;
    margin: 0 0 0 6px;
}

.upload ul li .errors {
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: red;
    display: block;
}

.upload ul li canvas {
    float: left;
}

.upload ul li .actions {
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    float: right;
    margin: 12px 0 0 0;
    cursor: pointer;
}

.upload ul li.working .actions {
    height: 16px;
    background-position: 0 -12px;
}

.upload-files {
    list-style: none;
    margin: 0 0 6px 0;
    padding: 0;
}

.upload-files li {
    border-bottom: 1px dotted #cccccc;
    padding: 5px 0;
    background-color: #fff;
}

.upload-files li img {
    position: relative !important;
    float: left;
    margin: 0;
    border: 1px solid #ccc;
    padding: 1px;
}

.upload-files li .info {
    margin: 2px 0 0 10px;
    float: left;
    width: 81%;
    line-height: 16px;
}

.upload-files li .sys-info {
    font-style: italic;
    color: #7f7f7f;
    margin: 0;
    white-space: nowrap;
    font-size: 12px;
}

.upload-files li .description {
    display: block;
    color: #5c9ccc;
    font-size: 12px;
}

.upload-files li .actions {
    float: right;
    margin: 0;
    cursor: pointer;
}

.upload-files li .actions a {
    display: inline-block;
}